{% extends "base.html" %}
{% load static %}
{% block title%}-Info{% endblock title %}
{% block content%}

<h1  class="container" style="color:aliceblue;">all locatiion info on this page</h1>
<div class="container-fluid" style="background-color:beige;">
    <h1>User: robert, brian  Password: testing321</h1>
    <h1>This repo will not be submitted ,planning a second draft </h1>
    <h1>check understanding of operation of custom manager in bookings model</h1>
    <h1 class="highlight"> completely stuck on unit testing for post method can't make database entry from within test</h1>
    <h1>anything else?? need to be added/taken/  out structure of project</h1>
    <h2>is method of checking user logged in in post of bookview ok ie not using decorator</h2>
    <h3>expecting big problems deploying to heroku anything important i need to be aware of</h3>
    <h3>all info will be put into tables or forms in next draft, crispy forms will be used on the forms </h3>
    <h3>check kanban and user stories</h3>
    <h3>css not linking in heroku</h3>
    <hr>
    <h1 style="width:20%; margin:auto;">features</h1>
    <h3>custom manger to automatically set bookings entries to in actice if past tense</h3>
    <h3>Function in adnin panel to show occupancy rate for each roomtype  next 14 and 30 days</h3>
    <h3>function added to drop down list in admin panel enabling reviewa to be approved in batches</h3>
    <h3>ability to cancel booking if there is over a week to go to check-in</h3>
    <h3>ability to extend booking if room available</h3>
    <h3>bookings requests are checked for availability then booking made</h3>
    <h3>error pages not working</h3>
    <h3>if occ rate for desired time period is below a set percentage a sale banner is displayed on booking screen</h3>
    <h6>how to set aformentioned rate?  in settings.py or can it be done in admin panel</h6>
    <h1>is there enough in project to concentrate on testing and read me/ projectcriteria</h1>
    <h6></h6>


</div>

{% endblock %}