{% extends 'base.html' %}

{% block content %}
<div class="container mt-5" style="background-color:white;">
  <div class="col-sm-12  offset-md-3 col-md-6  offset-lg-4 col-lg-4">
    <div class="row">
        <div>
            <H1 style="color:red;">TESTESTTEST</H1>
        </div>
        <table class="table" style="font-size:calc(0.3rem *1.8);">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Room</th>
              <th scope="col">Check-In</th>
              <th scope="col">Check-Out</th>
              <th scope="col">Extend</th>
              <th scope="col">Cancel</th>
            </tr>
          </thead>
          {% for booking in mybookings %}
          <tbody>
            <tr>
              <th scope="row">{{ booking.user }}</th>
              <td>{{ booking.room_number }}</td>
              <td>{{ booking.check_in }}</td>
              <td>{{ booking.check_out }}</td>
              <td> <span><a href="{% url 'myaccount:extend' booking.id %}">Extend</a></span></td>
              <td> <span><a href="{% url 'myaccount:cancel' booking.id %}">Cancel</a></span></td>
            </tr>
          {% empty %}
            <div>
                <h1>You currently have no bookings</h1>
            </div>
          {% endfor%}  
          </tbody>
        </table>
    </div>
    
    
    
        
  </div>
        <p>User:    {{user.username}}</p>
        <p>User Email:    {{ user.email }}</p>
        <p><a href="{% url 'account_change_password' %}">change password</a></p>
    </div> 
</div>

{% endblock%}

<!-- original before table implemnetal
<div>
    <h1>{{ booking.user }} {{ booking.room_number }} {{ booking.check_in }}
         {{ booking.check_out }} {{booking.id}}<span><a href="{% url 'myaccount:extend' booking.id %}">Extend</a>
        </span><span><a href="{% url 'myaccount:cancel' booking.id %}">Cancel</a></span></h1>
</div> -->